{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class='profile_fit'>
    {# Cover photo section #}
    <div class='profile-cover'>
        {% if target_user.profile.get_cover_url %}
            <img src="{{ target_user.profile.get_cover_url }}" 
                alt="Cover photo"
                class="cover-img"
                style="
                border-radius:20px;
                height:250px;
                width:100%;
                object-fit:cover;
            ">
        {% else %}
            <div class='cover-placeholder'></div>
        {% endif %}
    </div>

    <div class='profile-image'>
        <img src='{{ target_user.profile.get_avatar_url }}' alt='Profile Picture' class='profile-img' style="
        border-radius: 50%;
        height: 150px;
        width: 150px;
        border: 4px solid white;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        ">
    </div>
  </div>
  <h1>{{ target_user.profile.display_name|default:target_user.username }}'s Profile</h1>
  <h2>Username: {{ target_user.username }}</h2>
  <div class="profile-info">
    <p>Total Posts: {{ post_count }}</p>
    <p>Total Comments: {{ comment_count }}</p>
    <p>Followers: {{ follower_count }} </p>
    <p>Following: {{ following_count }}</p>
    <p>{{ target_user.profile.bio }}</p>
  </div>
    {% if user != target_user %}
        <form method="post" action="{% url 'follow' target_user.username %}">
            {% csrf_token %}
            <button type="submit" class='btn btn-secondary'>{% if is_following %}Unfollow{% else %}Follow{% endif %}</button>
        </form>
    {% else %}
        {% if form %}
            <h3>Edit Your Profile</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class='btn'>Save</button>
            </form>
        {% endif %}
    {% endif %}

    <hr>
    <h2>Posts by {{ target_user.username }}</h2>
    {% for post in posts %}
        {% include 'social/post_card.html' with post=post %}
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}
{% endblock %}